# Feature Engineering. Практическая работа

Сдаётся на проверку.

## Цели практической работы

Научиться: 

*   генерировать новые признаки; 
*   нормализовать и кодировать данные с помощью lambda-функций и библиотеки scikit-learn.

## Что входит в практическую работу

1. Построить признаки из строк.
2. Преобразовать категориальные переменные.
3. Стандартизировать данные.
4. Использовать MinMaxScaler для нормализации данных.
5. Создать признаки на основе дат.
6. Сохранить датафрейм для этапа моделирования.

## Что оценивается
- Программа выдаёт верный ответ на заданном наборе данных.
- Описаны причины выбранного решения, если требуется.
- Код читабелен: переменным даны осмысленные названия, соблюдены отступы и правила расстановки пробелов.
- При построении графиков название и оси подписаны, выведена легенда, если требуется. 
- Репозиторий проекта содержит осмысленные коммиты, содержащие конкретные реализованные фичи, ветки названы согласно назначению, лишние файлы не хранятся в репозитории.
- В репозитории проекта соблюдена иерархия директорий согласно списку модулей и содержащихся в них тем.
- Репозиторий проекта содержит файлы с данными, полученными в результате выполнения практической работы.

## Как отправить работу на проверку
Сдайте практическую работу этого модуля через систему контроля версий Git сервиса Skillbox GitLab. После загрузки работы на проверку напишите об этом в личном кабинете своему проверяющему куратору.

## Задача

Мы продолжим исследовать и готовить данные для этапа моделирования.

Вам предстоит работать с небольшой выборкой из коллекции подержанных автомобилей, выставленных на продажу в Соединённых Штатах, представленной в файле `data/vehicles_dataset_upd.csv`. На этих данных вы построите первую модель классификации, определяющую категорию цены подержанного автомобиля в зависимости от характеристик транспортного средства.

В этой практической работе вы продолжите генерировать дополнительные признаки и завершите подготовку датасета для этапа моделирования.

## Описание датасета:
- `id`— идентификатор записи;
- `url`— URL-записи о продаже;
- `region`— регион;
- `region_url`— URL региона;
- `price`— стоимость;
- `year`— год выпуска;
- `manufacturer`— производитель;
- `model`— модель;
- `condition`— состояние;
- `cylinders`— количество цилиндров;
- `fuel`— тип топлива;
- `odometer`— количество пройденных миль;
- `title_status`— статус;
- `transmission`— коробка передач;
- `VIN`— идентификационный номер;
- `drive`— тип привода;
- `size`— размер;
- `type`— кузов;
- `paint_color`— цвет;
- `image_url`— URL изображения;
- `description`— указанное описание;
- `county`— страна;
- `state`— штат;
- `lat`— широта;
- `long`— долгота;
- `posting_date`— дата размещения объявления о продаже;
- `price_category`— категория цены.

In [97]:
# Импортируйте необходимые библиотеки
import pandas as pd
import matplotlib as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

### Задача 1. Построение признаков из строк

1. Загрузите датасет из `data/vehicles_dataset_upd6.csv`, выведите первые пять записей и список колонок.

In [78]:
# Ваш код здесь
df = pd.read_csv('vehicles_dataset_upd6.csv')
df.head()

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,...,is_jeep,is_honda,is_nissan,x0_diesel,x0_electric,x0_gas,x0_hybrid,x0_other,std_scaled_odometer,std_scaled_price
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020,ram,2500 crew cab big horn,diesel,27442,...,0,0,0,1.0,0.0,0.0,0.0,0.0,-1.079390,2.958509
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016,ford,explorer 4wd 4dr xlt,other,60023,...,0,0,0,0.0,0.0,0.0,0.0,1.0,-0.560115,-0.085826
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017,volkswagen,golf r hatchback,gas,14048,...,0,0,0,0.0,0.0,1.0,0.0,0.0,-1.292863,1.406256
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013,toyota,rav4,gas,117291,...,0,0,0,0.0,0.0,1.0,0.0,0.0,0.352621,-0.281218
4,7303797340,https://knoxville.craigslist.org/ctd/d/knoxvil...,knoxville,https://knoxville.craigslist.org,14590,2012,bmw,1 series 128i coupe 2d,other,80465,...,0,0,0,0.0,0.0,0.0,0.0,1.0,-0.234311,-0.274017

2. Выведите список значений и количество уникальных значений для модели автомобиля.

In [79]:
# Ваш код здесь
df['model'].unique()

array(['2500 crew cab big horn', 'explorer 4wd 4dr xlt',
       'golf r hatchback', ..., 'gs350', '1988 Nisan',
       'a3 2.0t premium plus pzev'], dtype=object)

In [80]:
df['model'].nunique()

3341

3. Количество уникальных значений велико. Попробуем их сократить, оставив только первое слово в наименовании модели. С помощью lambda-функции и преобразования над строками создайте новый признак `short_model`, содержащий только первое слово из наименования модели, выведите его и количество получившихся уникальных значений.

In [81]:
# Ваш код здесь
df['short_model'] = df['model'].apply(lambda x: x.split()[0])
df['short_model']

0           2500
1       explorer
2           golf
3           rav4
4              1
          ...
9614        rav4
9615    wrangler
9616          a3
9617     cayenne
9618        1500
Name: short_model, Length: 9619, dtype: object

In [82]:
df['short_model'].nunique()

943

### Задача 2. Преобразование категориальных переменных

1. Для категориальных переменных `short_model`, `transmission`, `region`, `manufacturer`, `state`, `title_status`, `age_category` распечатайте наименование категории и количество уникальных значений в ней.

In [83]:
# Ваш код здесь
def unique_counts(df,column_name):
    unique_values = df[column_name].unique()
    unique_count = df[column_name].nunique()
    print(f'\n Имя категории : {column_name}')
    print(f'\n количество уникальных значений : {unique_count}')
unique_counts(df,'short_model')
unique_counts(df,'transmission')
unique_counts(df,'region')
unique_counts(df,'manufacturer')
unique_counts(df,'state')
unique_counts(df,'title_status')
unique_counts(df,'age_category')

 Имя категории : short_model

 количество уникальных значений : 943

 Имя категории : transmission

 количество уникальных значений : 3

 Имя категории : region

 количество уникальных значений : 393

 Имя категории : manufacturer

 количество уникальных значений : 40

 Имя категории : state

 количество уникальных значений : 51

 Имя категории : title_status

 количество уникальных значений : 6

 Имя категории : age_category

 количество уникальных значений : 3

2. Создайте датафрейм `data`, содержащий только выбранные категориальные переменные.

In [87]:
# Ваш код здесь
data = df[['short_model','region','transmission','age_category','manufacturer','state','title_status']]
data

,short_model,region,transmission,age_category,manufacturer,state,title_status
0,2500,chattanooga,other,new,ram,tn,clean
1,explorer,north jersey,automatic,new,ford,nj,clean
2,golf,reno / tahoe,other,new,volkswagen,ca,clean
3,rav4,fayetteville,automatic,average,toyota,nc,clean
4,1,knoxville,other,average,bmw,tn,clean
...,...,...,...,...,...,...,...
9614,rav4,chautauqua,automatic,old,toyota,ny,clean
9615,wrangler,binghamton,other,average,jeep,ny,clean
9616,a3,salem,automatic,average,audi,or,clean
9617,cayenne,madison,automatic,new,porsche,wi,clean
9618,1500,norfolk / hampton roads,other,new,ram,va,clean

3. Создайте объект класса OneHotEncoder, который будет отвечать за преобразование. Уточните, что на выходе должна быть неразреженная матрица.

In [183]:
# Ваш код здесь
ohe = OneHotEncoder(sparse=False)

4. Идентифицируйте параметры преобразования на датафрейме с категориальными переменными.

In [184]:
# Ваш код здесь
ohe.fit(data)

OneHotEncoder(sparse=False)

5. Примените преобразование для датафрейма с категориальными переменными и сохраните в новую переменную, распечатайте получившуюся матрицу и её размерность.

In [187]:
# Ваш код здесь
ohe_f = ohe.transform(data)
ohe_f

array([[0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

6. Выведите новые наименования признаков с помощью метода `get_feature_names_out`.

In [188]:
# Ваш код здесь
ohe.get_feature_names_out()

array(['short_model_-benz', 'short_model_1', 'short_model_124', ...,
       'title_status_rebuilt_1.0', 'title_status_salvage_0.0',
       'title_status_salvage_1.0'], dtype=object)

7. Добавьте в исходный датафрейм получившиеся новые признаки, выведите первые пять записей датафрейма и список колонок.

In [191]:
# Ваш код здесь
data[ohe.get_feature_names_out()] = ohe_f
data.head()

,short_model,region,transmission,age_category,manufacturer,state,title_status,short_model_-benz,short_model_1,short_model_124,...,title_status_lien_0.0,title_status_lien_1.0,title_status_missing_0.0,title_status_missing_1.0,title_status_parts only_0.0,title_status_parts only_1.0,title_status_rebuilt_0.0,title_status_rebuilt_1.0,title_status_salvage_0.0,title_status_salvage_1.0
0,2500,chattanooga,other,new,ram,tn,clean,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
1,explorer,north jersey,automatic,new,ford,nj,clean,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
2,golf,reno / tahoe,other,new,volkswagen,ca,clean,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
3,rav4,fayetteville,automatic,average,toyota,nc,clean,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0
4,1,knoxville,other,average,bmw,tn,clean,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

8. Посмотрите на результат обратного преобразования получившейся матрицы в исходные признаки, используйте `inverse_transform`.

In [192]:
# Ваш код здесь
ohe.inverse_transform

### Задача 3. Стандартизация данных

1. Создайте переменную под количественные переменные `lat`, `long`, `year`, `odometer/price`, `desc_len`, `model_in_desc`, `model_len`, `model_word_count` и создайте датафрейм `data`, содержащий только выбранные количественные переменные.

In [195]:
# Ваш код здесь
data1 = df[['lat','long','year','odometer/price','desc_len','model_in_desc','model_len','model_word_count']]
data1

,lat,long,year,odometer/price,desc_len,model_in_desc,model_len,model_word_count
0,35.060000,-85.250000,2020,0.499036,4482,0,22,5
1,40.821805,-74.061962,2016,3.542852,968,0,20,4
2,33.779214,-84.411811,2017,0.394718,4286,0,16,3
3,35.715954,-78.655304,2013,8.089034,3241,0,4,1
4,35.970000,-83.940000,2012,5.515079,4851,0,22,5
...,...,...,...,...,...,...,...,...
9614,42.123900,-79.189500,2002,33.370412,1710,0,4,1
9615,43.216990,-77.755610,2008,7.835323,948,0,8,1
9616,44.925908,-122.982753,2011,16.696387,909,0,25,5
9617,43.029559,-89.397796,2015,1.941787,3644,0,7,1
9618,36.670000,-76.300000,2017,1.122882,4483,0,22,5

2. Создайте объект `std_scaler` класса StandardScaler с параметрами по умолчанию, который будет отвечать за стандартизацию.

In [196]:
# Ваш код здесь
std_scaler = StandardScaler()
std_scaler

StandardScaler()

3. Идентифицируйте параметры преобразования на датафрейме с количественными переменными.

In [197]:
# Ваш код здесь
std_scaler.fit(data1)

StandardScaler()

4. Примените преобразование для датафрейма с количественными переменными и сохраните в новую переменную, распечатайте получившуюся матрицу и её размерность.

In [198]:
# Ваш код здесь
std_scaler_data1 = std_scaler.transform(data1)
std_scaler_data1

array([[-0.61917248,  0.48424452,  1.32239376, ..., -0.15578836,
         1.16303238,  1.91066901],
       [ 0.38801429,  1.11079989,  0.69597272, ..., -0.15578836,
         0.93208734,  1.23579936],
       [-0.84305905,  0.531185  ,  0.85257798, ..., -0.15578836,
         0.47019727,  0.56092971],
       ...,
       [ 1.10542805, -1.62887477, -0.08705357, ..., -0.15578836,
         1.50944993,  1.91066901],
       [ 0.7739386 ,  0.25195859,  0.53936746, ..., -0.15578836,
        -0.56905538, -0.78880959],
       [-0.33773799,  0.98546471,  0.85257798, ..., -0.15578836,
         1.16303238,  1.91066901]])

5. Создайте наименования новых признаков по шаблону: `lat_std` для `lat` и так далее.

In [199]:
# Ваш код здесь
data1 = data1.rename(columns={'lat': 'lat_std','long': 'long_std','year': 'year_std','odometer/price': 'odometer/price_std','desc_len':'desc_len_std','model_in_desc': 'model_in_desc_std','model_len': 'model_len_std','model_word_count': 'model_word_count_std'})
data1

,lat_std,long_std,year_std,odometer/price_std,desc_len_std,model_in_desc_std,model_len_std,model_word_count_std
0,35.060000,-85.250000,2020,0.499036,4482,0,22,5
1,40.821805,-74.061962,2016,3.542852,968,0,20,4
2,33.779214,-84.411811,2017,0.394718,4286,0,16,3
3,35.715954,-78.655304,2013,8.089034,3241,0,4,1
4,35.970000,-83.940000,2012,5.515079,4851,0,22,5
...,...,...,...,...,...,...,...,...
9614,42.123900,-79.189500,2002,33.370412,1710,0,4,1
9615,43.216990,-77.755610,2008,7.835323,948,0,8,1
9616,44.925908,-122.982753,2011,16.696387,909,0,25,5
9617,43.029559,-89.397796,2015,1.941787,3644,0,7,1
9618,36.670000,-76.300000,2017,1.122882,4483,0,22,5

6. Добавьте в исходный датафрейм получившиеся новые признаки, выведите первые пять записей датафрейма и список колонок.

In [214]:
# Ваш код здесь
df[['lat_std','long_std','year_std','odometer/price_std','desc_len_std','model_in_desc_std','model_len_std','model_word_count_std']] = std_scaler_data1
df.head()

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,...,std_scaled_price,short_model,lat_std,long_std,year_std,odometer/price_std,desc_len_std,model_in_desc_std,model_len_std,model_word_count_std
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020,ram,2500 crew cab big horn,diesel,27442,...,2.958509,2500,-0.619172,0.484245,1.322394,-0.510784,0.632075,-0.155788,1.163032,1.910669
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016,ford,explorer 4wd 4dr xlt,other,60023,...,-0.085826,explorer,0.388014,1.110800,0.695973,-0.402947,-0.646781,-0.155788,0.932087,1.235799
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017,volkswagen,golf r hatchback,gas,14048,...,1.406256,golf,-0.843059,0.531185,0.852578,-0.514480,0.560744,-0.155788,0.470197,0.560930
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013,toyota,rav4,gas,117291,...,-0.281218,rav4,-0.504509,0.853562,0.226157,-0.241883,0.180435,-0.155788,-0.915473,-0.788810
4,7303797340,https://knoxville.craigslist.org/ctd/d/knoxvil...,knoxville,https://knoxville.craigslist.org,14590,2012,bmw,1 series 128i coupe 2d,other,80465,...,-0.274017,1,-0.460101,0.557607,0.069552,-0.333074,0.766366,-0.155788,1.163032,1.910669

### Задача 4. MinMax-нормализация данных

1. Импортируйте MinMaxScaler из `sklearn.preprocessing`.

In [138]:
# Ваш код здесь
from sklearn.preprocessing import MinMaxScaler

2. Создайте датафрейм, содержащий переменные `lat` и `long`.

In [203]:
# Ваш код здесь
data2 = df[['lat','long']]
data2

            lat        long
0     35.060000  -85.250000
1     40.821805  -74.061962
2     33.779214  -84.411811
3     35.715954  -78.655304
4     35.970000  -83.940000
...         ...         ...
9614  42.123900  -79.189500
9615  43.216990  -77.755610
9616  44.925908 -122.982753
9617  43.029559  -89.397796
9618  36.670000  -76.300000

[9619 rows x 2 columns]

3. Повторите действия пунктов 2–6 из задачи 3 для добавления в исходный датафрейм признаков `lat_mm` и `long_mm`. Выведите получившийся датафрейм.

In [204]:
# Ваш код здесь
std_scaler = MinMaxScaler()

In [205]:
std_scaler.fit(data2[['lat','long']])

MinMaxScaler()

In [209]:
std_scaler_data2 = std_scaler.transform(data2[['lat','long']])
std_scaler_data2

array([[0.34176874, 0.28869912],
       [0.4686646 , 0.33305517],
       [0.31356118, 0.2920222 ],
       ...,
       [0.55905185, 0.13910399],
       [0.51728736, 0.27225478],
       [0.37722678, 0.32418225]])

In [210]:
data2 = data2.rename(columns={'lat': 'lat_mm','long':'long_mm'})

In [216]:
df[['lat_mm','long_mm']] = std_scaler_data2 
df.head()

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,...,lat_std,long_std,year_std,odometer/price_std,desc_len_std,model_in_desc_std,model_len_std,model_word_count_std,lat_mm,long_mm
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020,ram,2500 crew cab big horn,diesel,27442,...,-0.619172,0.484245,1.322394,-0.510784,0.632075,-0.155788,1.163032,1.910669,0.341769,0.288699
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016,ford,explorer 4wd 4dr xlt,other,60023,...,0.388014,1.110800,0.695973,-0.402947,-0.646781,-0.155788,0.932087,1.235799,0.468665,0.333055
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017,volkswagen,golf r hatchback,gas,14048,...,-0.843059,0.531185,0.852578,-0.514480,0.560744,-0.155788,0.470197,0.560930,0.313561,0.292022
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013,toyota,rav4,gas,117291,...,-0.504509,0.853562,0.226157,-0.241883,0.180435,-0.155788,-0.915473,-0.788810,0.356215,0.314844
4,7303797340,https://knoxville.craigslist.org/ctd/d/knoxvil...,knoxville,https://knoxville.craigslist.org,14590,2012,bmw,1 series 128i coupe 2d,other,80465,...,-0.460101,0.557607,0.069552,-0.333074,0.766366,-0.155788,1.163032,1.910669,0.361810,0.293893

4. Создайте переменную под географические признаки `lat`, `lat_std`, `lat_mm`, `long`, `long_std`, `long_mm` и выведите их. Посмотрите на различия в значениях для исходных признаков и нормализованных с помощью стандартизации и MinMax-преобразования.

In [217]:
# Ваш код здесь
df[['lat','lat_std','lat_mm','long','long_std','long_mm']]

            lat   lat_std    lat_mm        long  long_std   long_mm
0     35.060000 -0.619172  0.341769  -85.250000  0.484245  0.288699
1     40.821805  0.388014  0.468665  -74.061962  1.110800  0.333055
2     33.779214 -0.843059  0.313561  -84.411811  0.531185  0.292022
3     35.715954 -0.504509  0.356215  -78.655304  0.853562  0.314844
4     35.970000 -0.460101  0.361810  -83.940000  0.557607  0.293893
...         ...       ...       ...         ...       ...       ...
9614  42.123900  0.615626  0.497341  -79.189500  0.823646  0.312727
9615  43.216990  0.806702  0.521415  -77.755610  0.903947  0.318411
9616  44.925908  1.105428  0.559052 -122.982753 -1.628875  0.139104
9617  43.029559  0.773939  0.517287  -89.397796  0.251959  0.272255
9618  36.670000 -0.337738  0.377227  -76.300000  0.985465  0.324182

[9619 rows x 6 columns]

5. Выведите описательные статистики для всех географических признаков. Посмотрите на различия в статистиках для исходных признаков и нормализованных с помощью стандартизации и MinMax-преобразования.

In [218]:
# Ваш код здесь
df.describe()

,id,price,year,odometer,lat,long,odometer_km,odometer/price,desc_len,model_in_desc,...,lat_std,long_std,year_std,odometer/price_std,desc_len_std,model_in_desc_std,model_len_std,model_word_count_std,lat_mm,long_mm
count,9.619000e+03,9619.000000,9619.000000,9619.000000,9619.000000,9619.000000,9619.000000,9619.000000,9619.000000,9619.000000,...,9.619000e+03,9.619000e+03,9.619000e+03,9.619000e+03,9.619000e+03,9.619000e+03,9.619000e+03,9.619000e+03,9619.000000,9619.000000
mean,7.311568e+09,18014.652771,2011.555879,95166.428943,38.602095,-93.896875,153155.521420,14.916422,2745.205115,0.369581,...,2.108662e-16,-4.267993e-16,9.321938e-15,6.127637e-17,-2.620029e-17,-2.058627e-16,-1.193210e-16,5.100170e-16,0.419779,0.254418
std,4.358556e+06,12498.618213,6.385814,62746.525381,5.720989,17.857352,100980.744143,28.227443,2747.910831,2.372451,...,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,1.000052e+00,0.125997,0.070797
min,7.301586e+09,500.000000,1995.000000,0.000000,19.541726,-158.069300,0.000000,0.000000,4.000000,0.000000,...,-3.331829e+00,-3.593801e+00,-2.592738e+00,-5.284644e-01,-9.976116e-01,-1.557884e-01,-1.261890e+00,-7.888096e-01,0.000000,0.000000
25%,7.308208e+09,7500.000000,2008.000000,40784.000000,34.920000,-106.944340,65635.485696,1.658560,502.500000,0.000000,...,-6.436450e-01,-7.306875e-01,-5.568694e-01,-4.697043e-01,-8.161916e-01,-1.557884e-01,-6.845279e-01,-7.888096e-01,0.338685,0.202690
50%,7.312785e+09,15000.000000,2013.000000,91000.000000,39.300000,-87.845800,146450.304000,5.838926,2149.000000,0.000000,...,1.219966e-01,3.388739e-01,2.261569e-01,-3.216008e-01,-2.169780e-01,-1.557884e-01,-3.381103e-01,-1.139399e-01,0.435149,0.278408
75%,7.315287e+09,26990.000000,2017.000000,138594.500000,42.382100,-80.678711,223046.227008,16.469689,4235.000000,0.000000,...,6.607601e-01,7.402470e-01,8.525780e-01,5.502970e-02,5.421837e-01,-1.557884e-01,5.856698e-01,5.609297e-01,0.503028,0.306822
max,7.317090e+09,57999.000000,2020.000000,283995.000000,64.947500,94.163200,457045.649280,466.666667,26777.000000,63.000000,...,4.605283e+00,1.053179e+01,1.322394e+00,1.600477e+01,8.745933e+00,2.640041e+01,2.021600e+01,1.810754e+01,1.000000,1.000000

6. Выведите матрицу корреляций для всех географических признаков, чтобы убедиться, что нормализация признаков сохранила свойства исходных признаков.

In [220]:
# Ваш код здесь
df.corr()

,id,price,year,odometer,lat,long,odometer_km,odometer/price,desc_len,model_in_desc,...,lat_std,long_std,year_std,odometer/price_std,desc_len_std,model_in_desc_std,model_len_std,model_word_count_std,lat_mm,long_mm
id,1.000000,-0.094815,-0.100476,0.048108,-0.077992,-0.109705,0.048108,0.040483,-0.028756,-0.012981,...,-0.077992,-0.109705,-0.100476,0.040483,-0.028756,-0.012981,-0.046895,-0.049346,-0.077992,-0.109705
price,-0.094815,1.000000,0.551719,-0.532678,-0.013819,-0.046448,-0.532678,-0.491961,0.370749,0.040314,...,-0.013819,-0.046448,0.551719,-0.491961,0.370749,0.040314,0.344565,0.346095,-0.013819,-0.046448
year,-0.100476,0.551719,1.000000,-0.502363,-0.030911,0.018927,-0.502363,-0.390563,0.375700,0.021912,...,-0.030911,0.018927,1.000000,-0.390563,0.375700,0.021912,0.229937,0.255428,-0.030911,0.018927
odometer,0.048108,-0.532678,-0.502363,1.000000,0.026160,-0.004025,1.000000,0.518346,-0.304740,0.014233,...,0.026160,-0.004025,-0.502363,0.518346,-0.304740,0.014233,-0.251333,-0.275012,0.026160,-0.004025
lat,-0.077992,-0.013819,-0.030911,0.026160,1.000000,-0.134596,0.026160,0.025882,0.018658,-0.011035,...,1.000000,-0.134596,-0.030911,0.025882,0.018658,-0.011035,0.001124,-0.009247,1.000000,-0.134596
long,-0.109705,-0.046448,0.018927,-0.004025,-0.134596,1.000000,-0.004025,0.006534,-0.076740,-0.013786,...,-0.134596,1.000000,0.018927,0.006534,-0.076740,-0.013786,0.014472,0.015311,-0.134596,1.000000
odometer_km,0.048108,-0.532678,-0.502363,1.000000,0.026160,-0.004025,1.000000,0.518346,-0.304740,0.014233,...,0.026160,-0.004025,-0.502363,0.518346,-0.304740,0.014233,-0.251333,-0.275012,0.026160,-0.004025
odometer/price,0.040483,-0.491961,-0.390563,0.518346,0.025882,0.006534,0.518346,1.000000,-0.224210,-0.017746,...,0.025882,0.006534,-0.390563,1.000000,-0.224210,-0.017746,-0.162768,-0.172033,0.025882,0.006534
desc_len,-0.028756,0.370749,0.375700,-0.304740,0.018658,-0.076740,-0.304740,-0.224210,1.000000,0.129553,...,0.018658,-0.076740,0.375700,-0.224210,1.000000,0.129553,0.157077,0.159116,0.018658,-0.076740
model_in_desc,-0.012981,0.040314,0.021912,0.014233,-0.011035,-0.013786,0.014233,-0.017746,0.129553,1.000000,...,-0.011035,-0.013786,0.021912,-0.017746,0.129553,1.000000,-0.123609,-0.105882,-0.011035,-0.013786
price_k$,-0.095067,0.999799,0.552232,-0.533770,-0.014267,-0.045748,-0.533770,-0.491722,0.371171,0.039730,...,-0.014267,-0.045748,0.552232,-0.491722,0.371171,0.039730,0.346359,0.348297,-0.014267,-0.045748
model_len,-0.046895,0.344565,0.229937,-0.251333,0.001124,0.014472,-0.251333,-0.162768,0.157077,-0.123609,...,0.001124,0.014472,0.229937,-0.162768,0.157077,-0.123609,1.000000,0.933080,0.001124,0.014472
model_word_count,-0.049346,0.346095,0.255428,-0.275012,-0.009247,0.015311,-0.275012,-0.172033,0.159116,-0.105882,...,-0.009247,0.015311,0.255428,-0.172033,0.159116,-0.105882,0.933080,1.000000,-0.009247,0.015311
is_audi,-0.016845,0.059624,0.056976,-0.062171,-0.006765,-0.010247,-0.062171,-0.028066,0.055524,0.003022,...,-0.006765,-0.010247,0.056976,-0.028066,0.055524,0.003022,0.053583,0.088770,-0.006765,-0.010247
is_ford,-0.005916,0.056712,-0.012087,0.084101,0.007871,0.008180,0.084101,-0.015974,-0.023736,-0.039806,...,0.007871,0.008180,-0.012087,-0.015974,-0.023736,-0.039806,0.001280,0.006366,0.007871,0.008180
is_chevrolet,0.019203,0.025097,-0.076000,0.024387,0.023069,-0.009175,0.024387,0.005080,-0.011122,-0.041850,...,0.023069,-0.009175,-0.076000,0.005080,-0.011122,-0.041850,0.011078,-0.040042,0.023069,-0.009175
is_toyota,0.034262,-0.012374,-0.020392,0.064543,-0.017114,-0.057326,0.064543,0.016835,-0.015876,-0.034092,...,-0.017114,-0.057326,-0.020392,0.016835,-0.015876,-0.034092,-0.005462,-0.010894,-0.017114,-0.057326
is_jeep,-0.008276,0.029943,0.014070,-0.023984,0.020722,0.009761,-0.023984,-0.012201,-0.002761,-0.028055,...,0.020722,0.009761,0.014070,-0.012201,-0.002761,-0.028055,0.083886,-0.007102,0.020722,0.009761
is_honda,0.016356,-0.119493,-0.036965,0.074754,0.006381,0.033572,0.074754,0.075010,-0.041605,-0.025474,...,0.006381,0.033572,-0.036965,0.075010,-0.041605,-0.025474,-0.081188,-0.068008,0.006381,0.033572
is_nissan,0.030513,-0.087012,0.048791,-0.010225,-0.011230,-0.003430,-0.010225,0.021782,-0.030054,-0.018119,...,-0.011230,-0.003430,0.048791,0.021782,-0.030054,-0.018119,-0.061431,-0.049495,-0.011230,-0.003430
x0_diesel,-0.015237,0.208131,-0.062555,0.175708,0.000041,-0.026403,0.175708,-0.029302,-0.019251,0.038388,...,0.000041,-0.026403,-0.062555,-0.029302,-0.019251,0.038388,0.049102,0.045858,0.000041,-0.026403
x0_electric,0.003495,0.048266,0.045417,-0.060531,0.000901,0.000907,-0.060531,-0.030317,0.019341,-0.009783,...,0.000901,0.000907,0.045417,-0.030317,0.019341,-0.009783,0.020891,0.031278,0.000901,0.000907
x0_gas,0.048659,-0.281596,-0.114882,0.033138,0.031473,-0.021408,0.033138,0.108099,-0.094740,-0.003047,...,0.031473,-0.021408,-0.114882,0.108099,-0.094740,-0.003047,-0.203989,-0.217469,0.031473,-0.021408
x0_hybrid,0.016794,-0.029640,0.031913,-0.003314,-0.006959,-0.029404,-0.003314,-0.007975,0.011797,-0.011099,...,-0.006959,-0.029404,0.031913,-0.007975,0.011797,-0.011099,0.003197,0.007914,-0.006959,-0.029404
x0_other,-0.059290,0.194288,0.185449,-0.182520,-0.039810,0.063109,-0.182520,-0.108625,0.134667,-0.022917,...,-0.039810,0.063109,0.185449,-0.108625,0.134667,-0.022917,0.224130,0.240642,-0.039810,0.063109
std_scaled_odometer,0.048108,-0.532678,-0.502363,1.000000,0.026160,-0.004025,1.000000,0.518346,-0.304740,0.014233,...,0.026160,-0.004025,-0.502363,0.518346,-0.304740,0.014233,-0.251333,-0.275012,0.026160,-0.004025
std_scaled_price,-0.094815,1.000000,0.551719,-0.532678,-0.013819,-0.046448,-0.532678,-0.491961,0.370749,0.040314,...,-0.013819,-0.046448,0.551719,-0.491961,0.370749,0.040314,0.344565,0.346095,-0.013819,-0.046448
lat_std,-0.077992,-0.013819,-0.030911,0.026160,1.000000,-0.134596,0.026160,0.025882,0.018658,-0.011035,...,1.000000,-0.134596,-0.030911,0.025882,0.018658,-0.011035,0.001124,-0.009247,1.000000,-0.134596
long_std,-0.109705,-0.046448,0.018927,-0.004025,-0.134596,1.000000,-0.004025,0.006534,-0.076740,-0.013786,...,-0.134596,1.000000,0.018927,0.006534,-0.076740,-0.013786,0.014472,0.015311,-0.134596,1.000000
year_std,-0.100476,0.551719,1.000000,-0.502363,-0.030911,0.018927,-0.502363,-0.390563,0.375700,0.021912,...,-0.030911,0.018927,1.000000,-0.390563,0.375700,0.021912,0.229937,0.255428,-0.030911,0.018927
odometer/price_std,0.040483,-0.491961,-0.390563,0.518346,0.025882,0.006534,0.518346,1.000000,-0.224210,-0.017746,...,0.025882,0.006534,-0.390563,1.000000,-0.224210,-0.017746,-0.162768,-0.172033,0.025882,0.006534
desc_len_std,-0.028756,0.370749,0.375700,-0.304740,0.018658,-0.076740,-0.304740,-0.224210,1.000000,0.129553,...,0.018658,-0.076740,0.375700,-0.224210,1.000000,0.129553,0.157077,0.159116,0.018658,-0.076740
model_in_desc_std,-0.012981,0.040314,0.021912,0.014233,-0.011035,-0.013786,0.014233,-0.017746,0.129553,1.000000,...,-0.011035,-0.013786,0.021912,-0.017746,0.129553,1.000000,-0.123609,-0.105882,-0.011035,-0.013786
model_len_std,-0.046895,0.344565,0.229937,-0.251333,0.001124,0.014472,-0.251333,-0.162768,0.157077,-0.123609,...,0.001124,0.014472,0.229937,-0.162768,0.157077,-0.123609,1.000000,0.933080,0.001124,0.014472
model_word_count_std,-0.049346,0.346095,0.255428,-0.275012,-0.009247,0.015311,-0.275012,-0.172033,0.159116,-0.105882,...,-0.009247,0.015311,0.255428,-0.172033,0.159116,-0.105882,0.933080,1.000000,-0.009247,0.015311
lat_mm,-0.077992,-0.013819,-0.030911,0.026160,1.000000,-0.134596,0.026160,0.025882,0.018658,-0.011035,...,1.000000,-0.134596,-0.030911,0.025882,0.018658,-0.011035,0.001124,-0.009247,1.000000,-0.134596
long_mm,-0.109705,-0.046448,0.018927,-0.004025,-0.134596,1.000000,-0.004025,0.006534,-0.076740,-0.013786,...,-0.134596,1.000000,0.018927,0.006534,-0.076740,-0.013786,0.014472,0.015311,-0.134596,1.000000

### Задача 5. Признаки на основе дат

1. Выведите по отдельности колонки `posting_date` и `date`.

In [264]:
# Ваш код здесь
print(df.posting_date,'\n')
print(df.date)

0       2021-04-17 12:30:50-04:00
1       2021-05-03 15:40:21-04:00
2       2021-04-28 03:52:20-07:00
3       2021-04-17 10:08:57-04:00
4       2021-04-08 15:10:56-04:00
                  ...
9614    2021-04-10 16:33:57-04:00
9615    2021-05-03 09:36:30-04:00
9616    2021-04-22 12:14:01-07:00
9617    2021-04-14 09:14:42-05:00
9618    2021-04-24 13:50:49-04:00
Name: posting_date, Length: 9619, dtype: object

0      2021-04-17 16:30:50+00:00
1      2021-05-03 19:40:21+00:00
2      2021-04-28 10:52:20+00:00
3      2021-04-17 14:08:57+00:00
4      2021-04-08 19:10:56+00:00
                  ...
9614   2021-04-10 20:33:57+00:00
9615   2021-05-03 13:36:30+00:00
9616   2021-04-22 19:14:01+00:00
9617   2021-04-14 14:14:42+00:00
9618   2021-04-24 17:50:49+00:00
Name: date, Length: 9619, dtype: datetime64[ns, UTC]

2. Ранее преобразованная колонка `date` после сохранения в файл и загрузки из него содержит данные в строковом формате, поэтому измените её тип c помощью `pd.to_datetime`.

In [233]:
# Ваш код здесь
df.date = pd.to_datetime(df.date)
df.date

0      2021-04-17 16:30:50+00:00
1      2021-05-03 19:40:21+00:00
2      2021-04-28 10:52:20+00:00
3      2021-04-17 14:08:57+00:00
4      2021-04-08 19:10:56+00:00
                  ...
9614   2021-04-10 20:33:57+00:00
9615   2021-05-03 13:36:30+00:00
9616   2021-04-22 19:14:01+00:00
9617   2021-04-14 14:14:42+00:00
9618   2021-04-24 17:50:49+00:00
Name: date, Length: 9619, dtype: datetime64[ns, UTC]

3. Несколькими способами извлеките номер месяца продажи автомобиля.

3.1. Из переменной `posting_date` с помощью lambda-функции и операций над строками.

In [234]:
# Ваш код здесь
df['posting_date'].apply(lambda x: int(x.split('-')[1]))

0       4
1       5
2       4
3       4
4       4
       ..
9614    4
9615    5
9616    4
9617    4
9618    4
Name: posting_date, Length: 9619, dtype: int64

3.2. Из переменной `date` с помощью lambda-функции и метода `month`.

In [235]:
# Ваш код здесь
df['date'].apply(lambda x: x.month)

0       4
1       5
2       4
3       4
4       4
       ..
9614    4
9615    5
9616    4
9617    4
9618    4
Name: date, Length: 9619, dtype: int64

3.3. Из переменной `date` с помощью `dt` и метода `month`.

In [240]:
# Ваш код здесь
df['date'].dt.month

0       4
1       5
2       4
3       4
4       4
       ..
9614    4
9615    5
9616    4
9617    4
9618    4
Name: date, Length: 9619, dtype: int64

4. Создайте любым из способов (3.2 или 3.3) признак `month`, обозначающий номер месяца размещения объявления о продаже автомобиля, и распечатайте его.

In [243]:
# Ваш код здесь
df['month'] = df['date'].dt.month
df[['date','month']]

                          date  month
0    2021-04-17 16:30:50+00:00      4
1    2021-05-03 19:40:21+00:00      5
2    2021-04-28 10:52:20+00:00      4
3    2021-04-17 14:08:57+00:00      4
4    2021-04-08 19:10:56+00:00      4
...                        ...    ...
9614 2021-04-10 20:33:57+00:00      4
9615 2021-05-03 13:36:30+00:00      5
9616 2021-04-22 19:14:01+00:00      4
9617 2021-04-14 14:14:42+00:00      4
9618 2021-04-24 17:50:49+00:00      4

[9619 rows x 2 columns]

5. Создайте признак `dayofweek`, обозначающий день недели размещения объявления о продаже автомобиля, и распечатайте его.

In [292]:
# Ваш код здесь
df['dayofweek'] = df['date'].dt.dayofweek
df['dayofweek']

0       5
1       0
2       2
3       5
4       3
       ..
9614    5
9615    0
9616    3
9617    2
9618    5
Name: dayofweek, Length: 9619, dtype: int64

6. Создайте признак `diff_years`, обозначающий количество лет между годом производства автомобиля и годом размещения объявления о продаже автомобиля, и распечатайте его. Дополнительные корректировки не применяйте.

In [268]:
# Ваш код здесь
df['posting_date'] = pd.to_datetime(df.posting_date, utc=True)

In [280]:
df['year_of'] = df['posting_date'].dt.year
df['diff_years'] = df['year_of'] - df['year']

7. Примените стандартизацию к новым признаками и сохраните результат в новые признаки вида `month_std`.

In [283]:
# Ваш код здесь
df = df.rename(columns={'month':'month_std','year_of':'year_of_std','diff_years':'diff_years_std'})

### Задача 6. Сохранение датафрейма для этапа моделирования

1. Удалите колонки, которые были исходными для формирования признаков, а также новые признаки, которые были добавлены с целью обучения.  Сохраните новый датафрейм в переменную `df_prepared`.

In [289]:
# Допишите код

columns_for_drop = ['year', 'url', 'region', 'region_url', 'manufacturer',
                    'model', 'fuel', 'odometer', 'title_status', 'transmission',
                    'image_url', 'description', 'state', 'lat', 'long', 'posting_date',
                    'odometer_km', 'odometer/price', 'region_new', 'region_corrected', 'manufacturer_model',
                    'desc_len', 'model_in_desc', 'price_k$', 'age_category', 'model_len', 'model_word_count',
                    'short_model', 'lat_mm', 'long_mm', 'date', 'std_scaled_price',
                    'month_std', 'dayofweek', 'diff_years_std',
                    'odometer/price_std']

In [293]:
df_prepared = df.drop(columns=columns_for_drop)

2. Распечатайте оставшийся список колонок и размерность финального датафрейма.

In [295]:
# Ваш код здесь
df_prepared.columns

Index(['id', 'price', 'price_category', 'is_audi', 'is_ford', 'is_chevrolet',
       'is_toyota', 'is_jeep', 'is_honda', 'is_nissan', 'x0_diesel',
       'x0_electric', 'x0_gas', 'x0_hybrid', 'x0_other', 'std_scaled_odometer',
       'lat_std', 'long_std', 'year_std', 'desc_len_std', 'model_in_desc_std',
       'model_len_std', 'model_word_count_std', 'year_of_std'],
      dtype='object')

In [297]:
df_prepared.shape

(9619, 24)

3. Запишите преобразованный датафрейм в файл `data/vehicles_dataset_prepared.csv`, индекс не сохраняйте.

In [299]:
# Ваш код здесь
df_prepared.to_csv('vehicles_dataset_prepared.csv',index=False)

## Описание преобразованного датасета:
- `id`— идентификатор записи;
- `is_manufacturer_name`— признак производителя автомобиля;

- `region_*`— регион;
- `x0_*`— тип топлива;
- `manufacturer_*`— производитель;
- `short_model_*`— сокращённая модель автомобиля;
- `title_status_*`— статус;
- `transmission_*`— коробка передач;
- `state_*`— штат;
- `age_category_*`— возрастная категория автомобиля;

- `std_scaled_odometer`— количество пройденных миль (после стандартизации);
- `year_std`— год выпуска (после стандартизации);
- `lat_std`— широта (после стандартизации);
- `long_std`— долгота (после стандартизации);
- `odometer/price_std`— отношение стоимости к пробегу автомобиля (после стандартизации);
- `desc_len_std`— количество символов в тексте объявления о продаже (после стандартизации);
- `model_in_desc_std`— количество наименований модели автомобиля в тексте объявления о продаже (после стандартизации);
- `model_len_std`— длина наименования автомобиля (после стандартизации);
- `model_word_count_std`— количество слов в наименовании автомобиля (после стандартизации);
- `month_std`— номер месяца размещения объявления о продаже автомобиля (после стандартизации);
- `dayofweek_std`— день недели размещения объявления о продаже автомобиля (после стандартизации);
- `diff_years_std`— количество лет между годом производства автомобиля и годом размещения объявления о продаже автомобиля (после стандартизации);

- `price`— стоимость;
- `price_category`– категория цены.